SwiftUICalculator.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUICalculator.xcodeproj/xcuserdata/*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftUICalculator.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
